/* Reset all styles */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--yellow: #FAED8C;
	--white: #eff6e0;
	--dark-blue: #01161e;
	--green: #058c42;
	--dark-green: #04471c;
	--pink: #FA73BD;
}

html {
	font-size: 62.5%;
	font-family: 'Open Sans', sans-serif;
}

body {
	margin: 0 20px 20px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	color: var(--white);
	background: var(--dark-blue);
}

.title {
	display: flex;
	align-items: baseline;
	gap: 6px;
}

h1 {
	font-size: 3.6rem;
}

h3 {
	font-size: 1.2rem;
	color: gray;
}

/* Button reset style */
button {
	margin: 0;
	padding: 0;
	font: inherit;
	color: inherit;
	background: transparent;
	border: none;
}

#btnRefresh {
	padding: 10px;
	font-size: 1.4rem;
	background: var(--green);
	border-radius: 5px;
	cursor: pointer;
}

#btnRefresh:active {
	background-color: var(--dark-green);
}

#gifsRecommended {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
}


.gifBox {
	position: relative;
}

.unstar {
	position: absolute;
	right: 10px;
	top: 15px;
	color: var(--pink);
	filter: drop-shadow(0px 1px 1px rgb(0 0 0 / 0.9));
	cursor: pointer;
}

.unstar:active {
	top: 17px;
	filter: drop-shadow(0px 0px 0px rgb(0 0 0 / 0.9));
}

.unstar:hover {
	color: var(--yellow);
}

.unstar::after {
	content: '';
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.gif {
	border-radius: 10px;
	width: 200px;
}

.loading {
	opacity:0.1;
}

.favSection {
	width: 100%;
	margin-top: 20px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: start;
	background-color: #132D38;
	border-radius: 10px;
}

.fa-face-grin-stars {
	margin-right: 6px;
	color: var(--yellow);
}

h2 {
	font-size: 1.8rem;
}

#gifsFavorites {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
	width: 100%;
	padding: 10px;
}

.star {
	position: absolute;
	right: 10px;
	top: 15px;
	color: #FAED8C;
	filter: drop-shadow(0px 1px 1px rgb(0 0 0 / 0.9));
	cursor: pointer;
}

.star:hover {
	color: var(--pink);
}

.star:active {
	top: 17px;
	filter: drop-shadow(0px 0px 0px rgb(0 0 0 / 0.9));
}

.star::after {
	content: '';
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}


/* Link reset style */
a {
	color: inherit;
	text-decoration: none;
}

.credits {
	font-size: 1.2rem;
}

.credits code {
	color: #058c42;
	font-weight: bold;
}